button {
    &:disabled {
        cursor: not-allowed;
    }
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    margin-right: 0.5rem;
    color: #fff;
    transition: background-color 150ms ease-out;
    background-color: $primary;
    &:hover {
        background-color: darken($primary, 8%);
    }
    &.primary {
        background-color: $primary;
        &:disabled {
            background-color: mix($primary, gray, 50%) !important;
        }
        &:hover {
            background-color: darken($primary, 8%);
        }
    }
    &.secondary {
        background-color: $contrast-background;
        &.selected {
            background-color: darken($contrast-background, 8%);
        }
        &:disabled {
            background-color: mix($contrast-background, gray, 50%) !important;
        }
        &:hover {
            background-color: darken($contrast-background, 8%);
        }
    }
    &.danger {
        background-color: $danger;
        &:disabled {
            background-color: mix($danger, gray, 50%) !important;
        }
        &:hover {
            background-color: darken($danger, 8%);
        }
    }
    &.success {
        background-color: $success;
        &:disabled {
            background-color: mix($success, gray, 50%) !important;
        }
        &:hover {
            background-color: darken($success, 8%);
        }
    }
}
