input,
textarea {
    border-radius: 3px;
    border: none;
    color: black;
    height: 2rem;
    background-color: $white;

    &:focus {
        outline: 3px solid $primary !important;
    }

    &:disabled {
        background-color: $light-gray;
    }
}

/* The checkbox */
.checkbox {
    height: 2rem;
    display: block;
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input:focus + .checkmark{
        outline: 3px solid $primary !important;
    }
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */
.checkmark {
    border-radius: 3px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    background-color: $white;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: $white;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: $primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 0.7rem;
    width: 0.5rem;
    height: 1.5rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
