button {
    &:disabled {
        cursor: default;
        background-color: $light-gray !important;
    }
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    margin-right: 8px;
    color: #fff;
    transition: background-color 150ms ease-out;
    background-color: $primary;
    &:hover {
        background-color: darken($primary, 8%);
    }
    &.primary {
        background-color: $primary;
        &:hover {
            background-color: darken($primary, 8%);
        }
    }
    &.danger {
        background-color: $danger;
        &:hover {
            background-color: darken($danger, 8%);
        }
    }
    &.success {
        background-color: $success;
        &:disabled {
            background-color: mix($success, gray, 50%) !important;
            cursor: not-allowed;
        }
        &:hover {
            background-color: darken($success, 8%);
        }
    }
}
