$navbar-bg: #0D1321;
$bg: #1D2D44;
$primary-background: #3E5C76;
$button-cancel: #E94560;
$dark-purple: #141625;
$light-purple: #7c5dfa;
$purple: #252945;
$light-gray: #4b4b4b;
$dark-gray: #2f2f2f;
$white: #ffffffef;