.flex {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.flex {
    &-column {
        flex-direction: column;
    }
    &-row {
        flex-direction: row;
    }
}

.justify {
    &-end {
        justify-content: flex-end;
    }
    &-space-between {
        justify-content: space-between;
    }
    &-center {
        justify-content: center;
    }
}

.align {
    &-start {
        align-items: flex-start;
    }
    &-center {
        align-items: center;
    }
    &-end {
        align-items: flex-end;
    }
}