@import "./colors";
@import "./table";
@import "./button";
@import "./flex";
@import "./input";
* {
    color: $white;
}

.counter {
    grid-column: 5 / span 2;
    font-size: 1.2rem;
    align-self: center;
}
