@import "./colors";
$table-background-color: $contrast-background;
$table-hover-background-color: darken($table-background-color, 8%);
$table-even-background-color: darken($table-background-color, 4%);
$table-header-color: $white;
$table-header-background-color: #242e37;
$table-border-color: #141625;
$pagination-background-color: black;
$pagination-label-color: $white;
$pagination-label-background-color: $pagination-background-color;
$pagination-label-active-color: $white;
$pagination-label-active-background-color: darken( $pagination-background-color, 15%);
$pagination-label-disabled-color: $white;
$pagination-label-disabled-background-color: lighten( $pagination-background-color, 15%);
$text-color: $white;
.table-radio {
    display: none;
    &:checked+.card-title-side {
        display: block;
    }
    &:checked+.card-title-side+table {
        width: 100%;
        display: table;
    }
    &:checked+.card-title-side+table+.pagination {
        display: flex;
        &>label.active {
            color: $pagination-label-active-color;
            background-color: $pagination-label-active-background-color;
            cursor: default;
        }
        &>label.disabled {
            color: $pagination-label-disabled-color;
            background-color: $pagination-label-disabled-background-color;
            cursor: default;
        }
    }
}

table {
    background-color: $table-background-color;
    font-size: 16px;
    border-collapse: collapse;
    display: table;
    tr {
        &:last-child {
            td {
                border-bottom: 0;
            }
        }
        th,
        td {
            text-align: left;
            padding: 15px;
            box-sizing: border-box;
        }
        th {
            color: $table-header-color;
            font-weight: normal;
            background-color: $table-header-background-color;
            border-bottom: solid 2px $table-border-color;
            position: sticky;
            top: 0;
            &.table-action {
                width: 1px;
                white-space: nowrap;
            }
            &.sorted-up::after{
                content: " ↑";
            }
            &.sorted-down::after{
                content: " ↓";
            }
        }
        td {
            border-bottom: solid 1px $dark-white;
            white-space: nowrap;
            &.noElements {
                text-align: center;
            }
        }
    }
    tbody tr {
        transition: background-color 150ms ease-out;
        &:nth-child(2n) {
            background-color: $table-even-background-color;
        }
        &:hover {
            background-color: $table-hover-background-color;
        }
    }
}

.pagination {
    background-color: $pagination-background-color;
    width: 100%;
    display: none;
    position: sticky;
    bottom: 0;
    left: 0;
    &>label {
        color: $pagination-label-color;
        padding: 10px;
        cursor: pointer;
    }
}